**/node_modules
**/.env
**/.env.*
**/.dart_tool
**/build
**/.gradle
**/.android
**/.android-sdk
**/.gradle-user-home
**/.appdata
**/.localappdata
**/.temp
**/.idea
**/.vscode
**/.DS_Store
**/*.log
**/coverage
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/dist
**/tmp
**/temp
real-version/backend/.deploy/
